<h1>Tale of Abyss</h1>

<p>Danger lurks in the dark places of the world, and it seems that before peace can be restored a brave warriors must emerge to destroy 
    the <em>monsters</em> and restore peace for the weak. However, our hero must challenge others in search of <strong>ancient magical 
    artifacts</strong> in order to gain enough power to defeat the legendary beast named <em>Abyss</em>.</p>
    
<p>Will you be brave enough to <%= link_to "continue in", new_user_session_path %> or <%= link_to "begin your journey", new_user_registration_path %> today?</p> 